<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="fac.guard">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.cocfz.com.freescript" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="FAC Guard V15"
        android:usesCleartextTraffic="false"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name="fac.guard.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="fac.guard.GuardService"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver
            android:name="fac.guard.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
